[submodule "frontend-repo"]
	path = frontend-repo
	url = https://github.com/Transforming-Robot/frontend-repo.git
[submodule "backend-repo"]
	path = backend-repo
	url = https://github.com/Transforming-Robot/backend-repo.git
